.jumbotron {
  @include flex;
  @include align-center;
  @include justify-center;
  height: 100vh - $navigation-height;
  width: 100%;
  background: radial-gradient(rgba(3, 3, 3, 0.0) 0%, rgba(3, 3, 3, 0.5) 70%, rgba(3, 3, 3, 0.8)100%, transparent), url(./../../public/images/test2.jpg) no-repeat center, rgb(3, 3, 3);
  background-size: 100% auto;
  background-attachment: fixed;
  color: $text-primary-color;
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
  .jumbotron {
    height: 100vh - $navigation-height-mobile-landscape;
    background-size: 100% auto;
  }
}

@media screen and (orientation: portrait) and (max-width: 1200px) {
  .jumbotron {
    height: 100vh - $navigation-height-mobile-portrait;
    background-size: auto 100%;
    background-position: 75% 50%;
  }
}