.page {
  @include flex;
  @include flex-column;
  @include align-center; // Temporary
  @include justify-center; // Temporary
  min-height: 100vh - $navigation-height;
  width: 100%;
  background-color: $bg-page-primary;
  color: $text-primary-color;
}

.page.bg-gradient {
  background: linear-gradient(to bottom, rgba(50, 50, 50, 1.0) -10%, rgba(35, 35, 35, 1.0) 50%, rgba(50, 50, 50, 1.0) 110%);
}

@media screen and (orientation: landscape) and (max-width: 1200px) {

  .page {
    min-height: 100vh - $navigation-height-mobile-landscape;
  }

}


@media screen and (orientation: portrait) and (max-width: 1200px) {

  .page {
    min-height: 100vh - $navigation-height-mobile-portrait;
  }

}