.page {
  @include flex;
  @include flex-column;
  @include align-center; // Temporary
  @include justify-center; // Temporary
  min-height: 100vh - $navigation-height;
  width: 100%;
  background-color: $bg-page-primary;
  color: $text-primary-color;
}

@media screen and (orientation: landscape) and (max-width: 1200px) {

  .page {
    min-height: 100vh - $navigation-height-mobile-landscape;
  }

}


@media screen and (orientation: portrait) and (max-width: 1200px) {

  .page {
    min-height: 100vh - $navigation-height-mobile-portrait;
  }

}