.page-title {
  color: rgba(235, 235, 235, 0.5);
  transition: $long-transition;
}


.page-title:hover {
  color: rgba(235, 235, 235, 1.0);
}

@media screen and (orientation: landscape) and (max-width: 1024px) {

}

@media screen and (orientation: portrait) and (max-width: 1024px) {

}