.product-feature {
  @include flex;
  @include align-center;
  @include justify-center;
  @include perspective(100vh);
  min-width: $product-feature-width;
  transition: $standard-transition;
}

.product-feature-image-wrapper {
  @include perspective-preserve-3d;
  margin-right: $product-feature-width * 0.05 / 2;
  transition: $long-transition;
  width: $product-feature-width * 0.4;
}

.product-feature.up .product-feature-image-wrapper{
  @include perspective-rotate-x(5deg);
}

.product-feature.loaded .product-feature-image-wrapper{
  @include perspective-rotate-x(0deg);
}

.product-feature.down .product-feature-image-wrapper{
  @include perspective-rotate-x(-5deg);
}

.product-feature-image-wrapper.swap {
  @include perspective-preserve-3d;
  margin-left: $product-feature-width * 0.05 / 2;
  transition: $long-transition;
}

.product-feature.up .product-feature-image-wrapper.swap {
  @include perspective-rotate-x(5deg);
}

.product-feature.loaded .product-feature-image-wrapper.swap {
  @include perspective-rotate-x(0deg);
}

.product-feature.down .product-feature-image-wrapper.swap {
  @include perspective-rotate-x(-5deg);
}

.product-feature-image {
  width: 100%;
  height: auto;
}

.product-feature-title h1 {
  color: rgba(235, 235, 235, 0.8);
  font-size: 5vh;
  font-variant: small-caps;
  margin-top: 0;
  transition: $standard-transition;
}

.product-feature-title h1:hover {
  color: rgba(142, 121, 62, 1.0);
}

.product-feature-description-wrapper {
  @include justify-space-between;
  @include perspective-preserve-3d;
  margin-left: $product-feature-width * 0.05 / 2;
  transition: $long-transition;
  width: $product-feature-width * 0.5;
}

.product-feature.up .product-feature-description-wrapper{
  @include perspective-rotate-x(10deg);
}

.product-feature.loaded .product-feature-description-wrapper{
  @include perspective-rotate-x(0deg);
}

.product-feature.down .product-feature-description-wrapper{
  @include perspective-rotate-x(-10deg);
}

.product-feature-description-wrapper.swap {
  @include perspective-preserve-3d;
  transition: $long-transition;
  margin-right: $product-feature-width * 0.05 / 2;
}

.product-feature.up .product-feature-description-wrapper.swap {
  @include perspective-rotate-x(10deg);
}

.product-feature.loaded .product-feature-description-wrapper.swap {
  @include perspective-rotate-x(0deg);
}

.product-feature.down .product-feature-description-wrapper.swap {
  @include perspective-rotate-x(-10deg);
}

.product-feature-description p {
  font-size: 2.5vh;
}


@media screen and (orientation: landscape) and (max-width: 1024px) {

  .product-feature {
    min-height: $product-feature-height-mobile-landscape;
  }

  .product-feature-title h1 {
    font-size: 10vh;
  }

  .product-feature-description p {
    font-size: 4vh;
  }

  .product-feature.up .product-feature-image-wrapper{
    @include perspective-rotate-x(15deg);
  }

  .product-feature.down .product-feature-image-wrapper{
    @include perspective-rotate-x(-15deg);
  }

  .product-feature.up .product-feature-image-wrapper.swap {
    @include perspective-rotate-x(15deg);
  }

  .product-feature.down .product-feature-image-wrapper.swap {
    @include perspective-rotate-x(-15deg);
  }

  .product-feature.up .product-feature-description-wrapper{
    @include perspective-rotate-x(15deg);
  }

  .product-feature.down .product-feature-description-wrapper{
    @include perspective-rotate-x(-15deg);
  }

  .product-feature.up .product-feature-description-wrapper.swap {
    @include perspective-rotate-x(15deg);
  }

  .product-feature.down .product-feature-description-wrapper.swap {
    @include perspective-rotate-x(-15deg);
  }

}


@media screen and (orientation: portrait) and (max-width: 1024px) {

  .product-feature {
    @include flex-column;
    min-height: $product-feature-height-mobile-portrait;
  }

  .product-feature-image-wrapper, .product-feature-description-wrapper, .product-feature-image-wrapper.swap, .product-feature-description-wrapper.swap {
    margin-top: (100vw - $product-feature-width) / 2;
    margin-right: 0;
    margin-left: 0;
    width: $product-feature-width;
  }

  .product-feature-description-wrapper, .product-feature-description-wrapper.swap {
    @include flex-order(-1);
  }

  .product-feature-title h1 {
    margin-bottom: 2vh;
    font-size: 7vh;
  }

  .product-feature-description p {
    font-size: 3vh;
  }

  .product-feature.up .product-feature-image-wrapper{
    @include perspective-rotate-x(15deg);
  }

  .product-feature.down .product-feature-image-wrapper{
    @include perspective-rotate-x(-15deg);
  }

  .product-feature.up .product-feature-image-wrapper.swap {
    @include perspective-rotate-x(15deg);
  }

  .product-feature.down .product-feature-image-wrapper.swap {
    @include perspective-rotate-x(-15deg);
  }

  .product-feature.up .product-feature-description-wrapper{
    @include perspective-rotate-x(15deg);
  }

  .product-feature.down .product-feature-description-wrapper{
    @include perspective-rotate-x(-15deg);
  }

  .product-feature.up .product-feature-description-wrapper.swap {
    @include perspective-rotate-x(15deg);
  }

  .product-feature.down .product-feature-description-wrapper.swap {
    @include perspective-rotate-x(-15deg);
  }

}