.product-feature {
  @include flex;
  @include align-center;
  @include justify-center;
  @include perspective(100vh);
  min-width: $product-feature-width;
  transition: $standard-transition;
}

.product-feature-image-wrapper {
  @include perspective-preserve-3d;
  @include perspective-rotate-x(25deg);
  margin-right: $product-feature-width * 0.05 / 2;
  transition: $standard-transition;
  width: $product-feature-width * 0.4;
}

.product-feature-image-wrapper.loaded {
  @include perspective-rotate-x(0deg);
}

.product-feature-image-wrapper.swap {
  @include perspective-preserve-3d;
  @include perspective-rotate-x(25deg);
  margin-left: $product-feature-width * 0.05 / 2;
  transition: $standard-transition;
}

.product-feature-image-wrapper.swap.loaded {
  @include perspective-rotate-x(0deg);
}

.product-feature-image {
  width: 100%;
  height: auto;
}

.product-feature-title h1 {
  color: rgba(235, 235, 235, 0.8);
  font-size: 5vh;
  font-variant: small-caps;
  margin-top: 0;
  transition: $standard-transition;
}

.product-feature-title h1:hover {
  color: rgba(142, 121, 62, 1.0);
}

.product-feature-description-wrapper {
  @include justify-space-between;
  @include perspective-preserve-3d;
  @include perspective-rotate-x(25deg);
  margin-left: $product-feature-width * 0.05 / 2;
  transition: $standard-transition;
  width: $product-feature-width * 0.5;
}

.product-feature-description-wrapper.loaded {
  @include perspective-rotate-x(0deg);
}

.product-feature-description-wrapper.swap {
  @include perspective-preserve-3d;
  @include perspective-rotate-x(25deg);
  transition: $standard-transition;
  margin-right: $product-feature-width * 0.05 / 2;
}

.product-feature-description-wrapper.swap.loaded {
  @include perspective-rotate-x(0deg);
}

.product-feature-description p {
  font-size: 2.5vh;
}


@media screen and (orientation: landscape) and (max-width: 1200px) {

  .product-feature {
    min-height: $product-feature-height-mobile-landscape;
  }

  .product-feature-title h1 {
    font-size: 10vh;
  }

  .product-feature-description p {
    font-size: 4vh;
  }

}


@media screen and (orientation: portrait) and (max-width: 1200px) {

  .product-feature {
    @include flex-column;
    min-height: $product-feature-height-mobile-portrait;
  }

  .product-feature-image-wrapper, .product-feature-description-wrapper, .product-feature-image-wrapper.swap, .product-feature-description-wrapper.swap {
    margin-top: (100vw - $product-feature-width) / 2;
    margin-right: 0;
    margin-left: 0;
    width: $product-feature-width;
  }

  .product-feature-description-wrapper, .product-feature-description-wrapper.swap {
    @include flex-order(-1);
  }

  .product-feature-title h1 {
    margin-bottom: 2vh;
    font-size: 7vh;
  }

  .product-feature-description p {
    font-size: 3vh;
  }

}