@mixin flex {
  display: -webkit-box;  // for Safari
  display: -ms-flexbox;  // for IE
  display: flex;  // for Everything else
}

@mixin flex-column {
  -webkit-box-orient: vertical;  // for Safari
  -webkit-box-direction: normal;
  -ms-flex-direction: column;  // for IE
  flex-direction: column;  // for everything else
}

// Flex Align Mixins

@mixin align-center {
  -webkit-box-align: center;  // for Safari
  -ms-flex-align: center;  // for IE
  align-items: center;  // for everything else
}

@mixin align-self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

// Flex Justify Mixins

@mixin justify-center {
  -webkit-box-pack: center;  // for Safari
  -ms-flex-pack: center;  // for IE
  justify-content: center;  // for everything else
}

@mixin justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin justify-start {
  -webkit-box-pack: start;  // for Safari
  -ms-flex-pack: start;  // for IE
  justify-content: flex-start;  // for everything else
}

@mixin justify-end {
  -webkit-box-pack: end;  // for Safari
  -ms-flex-pack: end;  // for IE
  justify-content: flex-end;  // for everything else
}

// FLEX ORDER 

@mixin flex-order($order) {
  -webkit-box-ordinal-group: $order;
  -ms-flex-order: $order;
  order: $order;
}


// Box-Shadow Mixins

@mixin nav-shadow {
  -webkit-box-shadow: 0 0.5vh 0.5vh $standard-shadow, 0 0.5vh 0.8vh $standard-shadow;
  box-shadow: 0 0.5vh 0.5vh $standard-shadow, 0 0.5vh 0.8vh $standard-shadow;
}

@mixin std-box-shadow {
  -webkit-box-shadow: 0 1.0vh 0.5vh -0.5vh $standard-shadow, 0 1.2vh 0.8vh $standard-shadow;
  box-shadow: 0 1.0vh 0.5vh -0.5vh $standard-shadow, 0 1.2vh 0.8vh $standard-shadow;
}

@mixin std-inset-shadow {
  -webkit-box-shadow: inset 0 1vh 0.5vh $darker-shadow, inset 0 1vh 2.5vh $darker-shadow;
  box-shadow: inset 0 1vh 0.5vh $darker-shadow, inset 0 1vh 2.5vh $darker-shadow;
}

// Menu Bar

@mixin mobile-nav-toggle-active($rotate) {
  background-color: $bg-mobile-nav-active;
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
}

@mixin menu-bar($height, $top-spacing) {
  background-color: $bg-mobile-nav-inactive;
  content: "";
  cursor: pointer;
  display: block;
  height: $height;
  position: absolute;
  top: $top-spacing;
  width: 100%;
  transition: $standard-transition;
}


// PERSPECTIVE Mixins

@mixin perspective($value) {
  -webkit-perspective: $value;
  perspective: $value;
}

@mixin perspective-preserve-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin perspective-rotate-x($value) {
  -webkit-transform: rotateX($value);
  transform: rotateX($value);
}






