.testme {
  background-color: red;
}

#testme {
  background-color: green;
}

.navbar {
	display: flex;
	justify-content: flex-end;
}

.navplaceholder{
    background-color: #4CAF50; /* Green */
    border: 2px solid white;
    color: white;
    padding: 15px 100px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.navbutton{
	background-color: #4CAF50; /* Green */
    border: 2px solid white;
    color: white;
    padding: 15px 100px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.navbutton:hover {
    background-color: white; /* Green */
    border: 2px solid green;
    color: green;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.item-flex-grow {
  flex-grow: 2;
}

.home-page-box {
    width: 800;
    height: 350;
    border: grey solid 2px;
    margin: 20px 0px 20px 0px;
}

.home-page-box-image {
    margin: 20px;  
    float: left; 
}

.home-page-box-text {
    font-size: 16px;
    width: 400;
    height: 350;
    margin: 20px;
    float: right;
    padding: 0px;
}




