.about-content-wrapper {
  @include align-center;
  @include flex;
  @include perspective(100vh);
  margin: 2vh 0;
  min-height: $about-content-wrapper-height / 2;
  width: $about-content-wrapper-width;
}

.about-image {
  @include perspective-preserve-3d;
  @include perspective-rotate-y(-2deg);
  @include nav-shadow;
  background: url(./../../public/images/donovonjenson.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
  -webkit-filter: saturate(70%);
  filter: saturate(70%);
  transition: $long-transition;
  transform-style: preserve-3d;
  width: $about-content-wrapper-width * 0.4;
}

.about-image.loaded {
  @include perspective-rotate-y(0deg);
}

.about-image:hover {
  -webkit-filter: saturate(100%);
  filter: saturate(100%);
}

.about-text-wrapper {
  @include flex;
  @include flex-column;
  @include align-center;
  @include justify-center;
  padding: 0 $about-content-wrapper-width * 0.02;
  width: $about-content-wrapper-width * 0.6;
}

@media screen and (orientation: landscape) and (max-width: 1024px) {

}


@media screen and (orientation: portrait) and (max-width: 1024px) {

  .about-content-wrapper {
    @include flex-column;
  }

  .about-image {
    background-size: auto 100%;
    min-height: $about-content-wrapper-height * 0.5;
    width: $about-content-wrapper-width;
  }

  .about-text-wrapper {
    width: $about-content-wrapper-width;
  }

}
