.courses-content-wrapper {
  margin-bottom: 2.5vw;
  width: $courses-content-wrapper-width;
}

.courses-header-wrapper {
  @include flex;
  @include align-center;
  @include justify-center;
  color: $text-primary-color;
  font-size: 5vh;
  height: $courses-content-wrapper-height * 0.15;
  text-align: center;
  width: $courses-content-wrapper-width;
}

.courses-wrapper {
  @include flex;
  @include align-center;
  @include justify-center;
  height: $courses-content-wrapper-height * 0.7;
  min-width: $courses-content-wrapper-width;
}


@media screen and (orientation: landscape) and (max-width: 1024px) {

  .courses-wrapper {
    @include flex-column;
    height: auto;
    min-height: $courses-content-wrapper-height * 0.7;
  }

  .courses-header-wrapper {
    margin: 2vh 0;
  }

}


@media screen and (orientation: portrait) and (max-width: 1024px) {

  .courses-wrapper {
    @include flex-column;
    height: auto;
    min-height: $courses-content-wrapper-height * 0.7;
  }

  .courses-header-wrapper {
    margin: 2vh 0;
  }

}