.courses-content-wrapper {
  margin-bottom: 2.5vw;
  min-height: $courses-content-wrapper-height;
  width: $courses-content-wrapper-width;
}

.courses-header-wrapper {
  background-color: rgba(35, 35, 35, 0.8);
  color: $text-primary-color;
  height: $courses-content-wrapper-height * 0.3;
  width: $courses-content-wrapper-width;
}

.courses-wrapper {
  @include flex;
  @include align-center;
  @include justify-center;
  height: $courses-content-wrapper-height * 0.7;
  min-width: $courses-content-wrapper-width;
}

.course {
  background-color: rgba(45, 45, 45, 1.0);
  height: $courses-content-wrapper-height * 0.7;
  transition: scale(1.2, 1.2);
  transition-delay: 0.4s;
  transition-duration: 400ms;
  width: $courses-content-wrapper-width * 0.333;
}

.course:hover {
  background-color: rgba(135, 135, 135, 1.0);
  height: $courses-content-wrapper-height * 0.74;
  width: $courses-content-wrapper-width * 0.37;
  z-index: 2;
}

.course-image {
  height: auto;
  opacity: 0.6;
  transition: scale(1.2, 1.2) 0.4s;
  transition-delay: 0.4s;
  transition-duration: 400ms;
  width: $courses-content-wrapper-width * 0.333;
}

.course:hover .course-image {
  opacity: 1.0;
  width: $courses-content-wrapper-width * 0.37;
}



@media screen and (orientation: landscape) and (max-width: 1200px) {



}


@media screen and (orientation: portrait) and (max-width: 1200px) {



}