.videos-content-wrapper {
  @include flex;
  margin:  0 0 $video-content-wrapper-height * 0.05 0;
  min-height: $video-content-wrapper-height;
  width: $video-content-wrapper-width;
}

.video-player-wrapper {
  @include std-box-shadow;
  background-color: rgba(35, 35, 35, 0.5);
  margin-right: $video-content-wrapper-width * 0.01;
  min-height: $video-content-wrapper-height;
  width: $video-content-wrapper-width * 0.69;
  transition: $standard-transition;
}

.player-current-video {
  @include flex;
  @include align-center;
  @include justify-center;
  background-color: rgba(35, 35, 35, 0.2);
  height: $video-content-wrapper-height * 0.7;
  width: 100%;
}

.player-current-video span {
  height: 100%;
  width: 100%;
}

// Current Video Info

.player-current-info-wrapper {
  @include flex;
  @include flex-column;
  min-height: $video-content-wrapper-height * 0.3;
  transition: $standard-transition;
  width: 100%;
}

.current-info-title {
  margin: 2vh;
}

.current-info-description {
  overflow-x: auto;
  overflow-wrap: break-word;
}

.description-content {
  padding: 0 2vh;
  overflow: hidden;
}

.description-label {
  font-weight: bold;
}


// Videos List

.videos-list-wrapper {
  @include flex;
  @include flex-column;
  @include align-center;
  @include std-inset-shadow;
  background-color: rgba(35, 35, 35, 0.3);
  height: $video-content-wrapper-height;
  overflow-y: scroll;
  width: $video-content-wrapper-width * 0.3;
}

.description-collapse-toggle {
  background: linear-gradient(to bottom, rgba(155, 155, 155, 0.0) 10%, rgba(155, 155, 155, 0.2) 90%, rgba(35, 35, 35, 0.2) 100%);
  border: none;
  color: $bg-secondary-color;
  height: 10vh;
  margin-top: 5vh;
  transition: $standard-transition;
}

.description-collapse-toggle:focus {
  background: linear-gradient(to bottom, rgba(155, 155, 155, 0.2) 10%, rgba(155, 155, 155, 0.2) 90%, rgba(35, 35, 35, 0.2) 100%);
  outline: none;
}

.description-spacer {
  height: 2vh;
}

@media screen and (orientation: landscape) and (max-width: 1200px) {

  .videos-content-wrapper {
    @include flex-column;
    min-height: $video-content-wrapper-height-landscape;
    width: 100vw;
  }

  .video-player-wrapper {
    background-color: rgba(35, 35, 35, 0.0);
    box-shadow: none;
    min-height: $video-content-wrapper-height-landscape;
    width: 100vw;
  }

  .player-current-video {
    height: $video-content-wrapper-height-landscape;
  }

  .player-current-info-wrapper {
    min-height: none;
    max-height: $video-content-wrapper-height-landscape * 0.5;
  }

  .player-current-info-wrapper.toggled {
    min-height: $video-content-wrapper-height-landscape * 0.3;
    max-height: none;
  }

  .current-info-title {
    margin: 5vh 5vh;
  }

  .videos-list-wrapper {
    padding-top: 5vh;
    height: $video-content-wrapper-height-landscape * 0.7;
    width: 100vw;
  }

  .description-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(35, 35, 35, 0.0) 70%, rgba(35, 35, 35, 1.0) 100%);
    font-size: 2.5vh;
    padding: 0 5vh;
    max-height: 10vh;
    min-height: none;
  }

  .description-content.toggled {
    background: none;
    min-height: 10vh;
    max-height: none;
  }
  

}

@media screen and (orientation: portrait) and (max-width: 1200px) {

  .videos-content-wrapper {
    @include flex-column;
    min-height: $video-content-wrapper-height-portrait;
    width: 100vw;
  }

  .video-player-wrapper {
    background-color: rgba(35, 35, 35, 0.0);
    box-shadow: none;
    min-height: $video-content-wrapper-height-portrait / 2;
    width: 100vw;
  }

  .player-current-video {
    background-color: rgba(5, 5, 5, 1.0);
    height: $video-content-wrapper-height * 0.35;
    width: 100%;
  }

  .player-current-video span {
    background-color: rgba(5, 5, 5, 1.0);
  }

  .player-current-info-wrapper {
    min-height: none;
    max-height: $video-content-wrapper-height-portrait * 0.5;
  }

  .player-current-info-wrapper.toggled {
    min-height: $video-content-wrapper-height-portrait * 0.3;
    max-height: none;
  }

  .current-info-title {
    margin: 2.5vh 2.5vh;
  }

  .videos-list-wrapper {
    height: $video-content-wrapper-height-portrait * 0.7;
    width: 100vw;
  }

  .description-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(35, 35, 35, 0.0) 70%, rgba(35, 35, 35, 0.6) 100%);
    font-size: 1vh;
    padding: 0 2.5vh;
    max-height: 10vh;
    min-height: none;
  }

  .description-content.toggled {
    background: none;
    max-height: none;
    min-height: 10vh;
    overflow: hidden;
  }

  .description-collapse-toggle {
    font-size: 2vh;
    height: 5vh;
    margin-top: 2vh;
  }

}