.videos-content-wrapper {
  @include flex;
  margin:  0 0 $video-content-wrapper-height * 0.05 0;
  min-height: $video-content-wrapper-height;
  width: $video-content-wrapper-width;
}

.video-player-wrapper {
  @include std-box-shadow;
  background-color: rgba(35, 35, 35, 0.2);
  margin-right: $video-content-wrapper-width * 0.01;
  min-height: $video-content-wrapper-height;
  width: $video-content-wrapper-width * 0.69;
}

.video-player-current {
  @include flex;
  @include align-center;
  @include justify-center;
  background-color: rgba(35, 35, 35, 0.2);
  height: $video-content-wrapper-height * 0.7;
  width: 100%;
}

.video-player-current span {
  height: 100%;
  width: 100%;
}

.video-player-current-description {
  @include flex;
  @include align-center;
  @include justify-center;
  height: $video-content-wrapper-height * 0.3;
  width: 100%;
}

.videos-list-wrapper {
  @include flex;
  @include flex-column;
  @include align-center;
  @include std-inset-shadow;
  height: $video-content-wrapper-height;
  overflow-y: scroll;
  width: $video-content-wrapper-width * 0.3;
}

.videos-list-entry {
  @include flex;
  @include align-center;
  @include justify-center;
  background: linear-gradient(to bottom, rgba(35, 35, 35, 0.2) 0%, rgba(45, 45, 45, 0.1) 10%, rgba(45, 45, 45, 0.1) 90%, rgba(35, 35, 35, 0.2) 100%);
  min-height: $video-content-wrapper-height * 0.25;
  width: $video-content-wrapper-width * 0.3;
}

@media screen and (orientation: landscape) and (max-width: 1200px) {

  .videos-content-wrapper {
    min-height: $video-content-wrapper-height-landscape;
  }

  .video-player-wrapper {
    min-height: $video-content-wrapper-height-landscape;
  }

  .video-player-current {
    height: $video-content-wrapper-height-landscape * 0.7;
  }

  .video-player-current-description {
    height: $video-content-wrapper-height-landscape * 0.3;
  }

  .videos-list-wrapper {
    height: $video-content-wrapper-height-landscape;
  }

  .videos-list-entry {
    min-height: $video-content-wrapper-height-landscape * 0.5;
  }

}

@media screen and (orientation: portrait) and (max-width: 1200px) {

  .videos-content-wrapper {
    @include flex-column;
    min-height: $video-content-wrapper-height-portrait;
    width: 100vw;
  }

  .video-player-wrapper {
    min-height: $video-content-wrapper-height-portrait / 2;
    width: 100vw;
  }

  .video-player-current {
    background-color: rgba(5, 5, 5, 1.0);
    height: $video-content-wrapper-height * 0.35;
    width: 100%;
  }

  .video-player-current span {
    background-color: rgba(5, 5, 5, 1.0);
  }

  .videos-list-wrapper {
    height: $video-content-wrapper-height-portrait;
    width: 100vw;
  }

  .videos-list-entry {
    width: 100vw;
  }

}